.heading1{
    font-size: 1.9vmax;
    padding-left: 12px;
    color: skyblue;
    font-family: 'Permanent Marker', 'cursive';
}


.heading2{
    font-size: 1.7vmax;
    
    padding-left: 12px;
    color: skyblue;
    font-family: 'Permanent Marker', 'cursive';
}


.heading3{
    font-size: 1.5vmax;
    
    padding-left: 12px;
    color: skyblue;
    font-family: 'Permanent Marker', 'cursive';
}