body {
    background: white;
    background-image: radial-gradient(rgba(135, 130, 130, 0.721) 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
  }


  .pari{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .parinside{
    margin: 2vmax;
  }